@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&family=Oswald:wght@300&display=swap');

body {
    padding: 0 2%;
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
}




nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
}

nav .profile {
    display: flex;
    align-items: center;
}
nav .profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
nav ul li img {
    width: 40px;
    height: 40px;
}
nav .profile h1 {
    font-size: 15px;
    margin-left: 10px;
}
nav ul {
    display: flex;
    list-style-type: none;
    text-decoration: none;
    color: black;
    
    
}
nav ul li {
    margin-left: 20px;
    cursor: pointer;
    border-bottom: 1px solid white;
    
    
}
.sous {
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
    position: absolute;
    width: 220px;
    z-index: 1000;
    
}
nav>ul li:hover .sous {
    display: block;
    margin-left: -100px;
    
    
}

nav a {
    text-decoration: none;
    color: black;
}
nav a:hover {
    color: orange;
    
}
nav li:hover{
    color: orange;
    text-decoration: none;
}
nav input[type=checkbox]:checked+ul {
    display: block;
    margin-left: -200px;
    margin-top: 40px;
    width: auto;
    padding-right: 20px;
    line-height: 2.5em;
}













.page-content {
    margin: 4%;
}
.page-content header {
    margin-top: 5%;
    max-width: 80%;
}
.page-content h1 {
    margin: 0;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 7vw;
}
.page-content header p {
    line-height: 30px;
    color: #818181;
}
.page-content header button {
    background-color: inherit;
    border: none;
    outline: none;
    padding-left: 0;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}
.page-content header button:hover {
    color: #ccc;
    border-bottom-color: black;
}

.page-content .presentation-image {
    margin-top: 5%;
}
.page-content .presentation-image img {
    max-width: 100%;
    height: auto;
}

.page-content .projects-section {
    margin-top: 6%;
}


.page-content .projects-section h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 3vw;
}
.page-content .projects-section .projects .project {
    margin-right: 20px;
    justify-content: center;
}
.page-content a {
    text-decoration: none;
    color: black;
}
.page-content a:hover {
    color: orange;
}
.page-content .projects-section .projects .project h4 {
    margin: 0;
}
.page-content .projects-section .projects .project .description {
    font-size: 10px;
}
.page-content .projects-section .projects {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}





footer {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    color: white;
    
}
footer .colonne {
    margin: 4%;
}
footer .colonne p {
    font-size: 12px;
    color: #ccc;
    cursor: pointer;
}
footer .colonne a {
    text-decoration: none;
    color: white;
}
footer .colonne p:hover {
    color: white;
}
footer .colonne a:hover {
    color: orange;
}



@media screen and (min-width: 811px){
    nav ul #phone {
        display: none;
    }
    nav ul #mobile {
        display: none;
    }
    nav input[type=checkbox]:checked+ul {
        display: none;
        margin-left: -200px;
        margin-top: 40px;
    }
    
}

@media screen and (max-width: 810px){

    nav ul input {
        display: none;
    }
    nav ul .ordi {
            display: none;
    }
    .page-content header {
        margin-top: 10%;
        max-width: 100%;
    }
    
    .page-content .projects-section {
        margin-top: 15%;
    }
    .page-content .projects-section h1 {
        font-size: 1.5em;
    }
    .page-content .projects-section .projects{
        display: block;
    }
    .page-content .projects-section .projects .project {
        margin-right: 0;
        margin-bottom: 20px;
        max-width: 100%;
    }

    footer {
        justify-content: flex-start;
    }
    footer .colonne {
        width: 80%;

    }
}
