body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    
}
.corps{
    display: flex;
    flex-direction: flex;
    justify-content: center;
    margin-bottom: 20px;  
}
h1{
    text-align: center;
}
#titreChance {
    margin-left: 50px;
}
p{
    position: absolute;
    margin: 0;
    color: #555;
}
table{
    margin: 0;
    padding-top: 20px;
        
}

.checkboxNum{
    background-color: white;
    color: #00a2d9;
}
.checkboxCha {
    background-color: white;
    color: #ea3946;
}
.checkboxNumClick {
    color: white;
    background-color: #00a2d9;
}
.checkboxChaClick {
    color: white;
    background-color: #ea3946;
}
button{
    border-radius: 50%;
    padding: 0;
    font-size: 16px;
    font-weight: 700;
    height: 40px;
    width: 40px;
    border: 0;
    box-shadow: 0 5px 10px hsla(0, 0%, 75%, 0.808);
    
    
}
.start:enabled{
    border-radius: 8px;
    width: auto;
    height: auto;
    background-color: #00a2d9;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    
}
.start:disabled{
    border-radius: 8px;
    width: auto;
    height: auto;
    background-color: #242727a4;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: not-allowed;
    margin-bottom: 20px;
    
}
td{
    width: 28px;
    height: 28px;
    padding: 8px;
    

}
#centrerBouton{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.resultatNumClair{
    color: white;
    background-color: #00a2d9;
}
.resultatNumGris{
    color: white;
    background-color: #00a3d959;
}
.resultatChaClair {
    color: white;
    background-color: #ea3946;
}

.resultatChaGris {
    color: white;
    background-color: #ea394546;
}
.text{
    margin: 0;
    margin-top: 20px;
    position: unset;
    text-align: center;
    color: #555;
}
#nombreCacher{
    display: none;
}
#resultat{
    
    justify-content: center;

}
#rang{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
#testz{
    display: flex;
    justify-content: center;
}




